// old css file backup

@media (max-width: 768px) {
    .margin {
      margin-left: 20%; /* Adjust the margin as needed */
    }
  }
  @media (max-width: 600px) {
    .margin {
      margin-left: 10%; /* Adjust the margin as needed */
    }
    .container{
     margin: 0%;
     margin-left: 0%;
    }
  }
  @media (max-width: 463px) {
    .margin {
      margin-left: 0%;
      display: block;
      width: auto;
      margin-bottom: 10px;
    }
    .btn-success{
  margin-bottom: 10px;
      width: 100%;
    }
    .btn-outline-primary{
      width: 100%;
    }
    .inline-block-container{
      width: 100%;
    }
    .search{
      width: 100%;
      margin-bottom: 10px;
    }
    
  }
  
   